html{
    background-image:url(../img/fond.jpg);
    margin-top:-20px ;
	background-repeat:no-repeat;
	color:orange;
}
h1{
      background-color: lightgrey;
      color:red;
      border:6px solid white ;
	  border-radius: 10px ;
      height:100px ;
      position:float;
}
